#page {
  display: flex;
}

#side-bar {
  position: fixed;
  border-right: 1px solid;
  padding-left: 1.5rem;
  width: 15%;
  height: 100vh;
}

#side-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

#side-links li {
  font-size: 1rem;
  padding: 1.5rem 1rem 1.5rem;
}

#main {
  padding-top: 3rem;
  padding-left: 35rem;
}

@media screen and (min-width: 1024px) {
  #main {
    padding-top: 2.5rem;
    padding-left: 25rem;
  }
}

#statuses {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#statuses li {
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

#statuses li img {
  border: .2rem solid orangered;
  border-radius: 50%;
}

#posts {
  padding-top: 2rem;
}

